@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+IE+Guides&family=Playwrite+NZ:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap");

body {
    
  font-family: "Playwrite NZ", serif;
  margin: 0px;
  padding: 0px;
  

  background: url(Background.jpg) no-repeat;
  width: 100%;
  color: white;
  height: 50%;
  
}

.left {
  /* border: 20px,solid,red; */
  display: inline-block;
  position: absolute;
  left: 34px;
  top: 20px;
}

.left img {
  width: 60px;
  height: 50px;
  margin-left: 48px;
}
.left div {
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-left: 20px;
}

.mid {
  display: block;
  width: 33%;
  margin: auto;
  /* border: 20px,solid,green; */
  margin-top: 40px;
}

.right {
  /* border: 20px,solid,yellow; */
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 20px;
  width: 25%;
}
.btn {
  margin-left: 100px;
  border-radius: 5px;
  padding: 5px, 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Playwrite NZ", serif;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: pink;
}

.navbar {
  display: inline block;
}
.navbar li {
  display: inline-block;
  font-size: 15px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  /* padding: 34px,23px; */
  padding: 13px;
}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: blue;
}

.container {
  display: inline-block;
  position: absolute;
  right: 50px;
  border: 2px, solid, white;
  padding: 20px, 20px;
  width: 43%;
  height: 50%;
  margin-top: 150px;
  border-radius: 10px;
}

.container h1 {
  /* position: absolute; */
  margin-left: 2px;
  margin: 2px, auto;
  text-align: center;
}

.container .text {
  position: absolute;
  margin: 0, auto;
  text-align: center;
  color: goldenrod;
}

.about_container {
  margin-top: 40%;
}

.about_container h1 {
  /* position: absolute; */
  margin-left: 41%;
  margin-right: 45%;
  background-color: #b27b0e;
}
.aboutleft {
  position: absolute;
  display: inline-block;
  border: 2px, solid, white;
  margin-right: 70%;
  margin-left: 10px;
  height: 50%;
  border-radius: 5px;
  background-color: rgb(34 27 27);
}

.aboutmid {
  position: absolute;
  display: inline-block;
  border: 2px, solid, white;
  margin-left: 31%;
  margin-right: 31%;
  border-radius: 5px;
  height: 50%;
  background-color: rgb(34 27 27);
}
.aboutright {
  position: absolute;
  display: inline-block;
  border: 2px, solid, white;
  margin-left: 70%;
  margin-right: 15px;
  border-radius: 5px;
  height: 50%;
  background-color: rgb(34 27 27);
}

.about_container .aboutleft h2 {
  /* position: absolute; */
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.about_container .textLeft {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 18px;
  color: goldenrod;
}

.about_container .aboutmid h2 {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
}

.about_container .textMid {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 18px;
  color: goldenrod;
}

.about_container .aboutright h2 {
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.about_container .textRight {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 18px;
  color: goldenrod;
}
.contact{
  background-color: black;
}

.contact h1{
    margin-top: 450px;
    margin-left: 41%;
  margin-right: 48%;
  background-color: #b27b0e;
  font-size: 20px;
}

  
.contuctLeft{
    border: 3px, solid, white;
    position: absolute;
    margin-top: 58px;
    /* margin-right: 26%; */
    margin-left: 10px;
    width: 50%;
    background-color: black;
    border-radius: 5px;
    height: 684px;
    
}
.contuctLeft h2{
    text-align: center;
    text-decoration: underline;
}

.contact_form{
    /* margin-left: 5px; */
    /* position: absolute; */
    text-align: center;
    /* display: inline-block; */
}
.checkbox{
    text-align: center;
}
.contuctLeft.btn{
    text-align: left;
}

.contuctRight{
    border: 4px, solid, white;
    /* position: absolute; */
    margin-left: 60%;
    margin-top: 73px;
    margin-right: 15px;
    height: 580px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    
    
}

.contuctRight h2{
    text-align: center;
    text-decoration:underline;
    margin-top: 138px;
    
}
.contuctRight.icon{
    
    margin-left: 170px;
}

.contuctRight.iconfacebook{
    text-align: center;
}

.schedule{
  background-color: #052d2e;
    height: 461px;
}
.schedule table {
    display: table; 
    width: 80%; 
    margin: 20px auto; 
    border: 2px,solid,white; 
    text-align: center;
    background-color: black;
  }
  table, th, td {
    border: 1px solid white;
    border-radius: 5px;
  }

  .schedule h1{
    text-align: center;
    background-color: #b27b0e;
    margin-left: 583px;
    margin-right: 701px;
  }
  
  .last{
    background-color: rgb(46, 44, 42);
  }
  .map{
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-left: 20px;
    margin-top: 150px;
    border-radius: 5px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 400px;
    /* background-color: black; */
  }
  .gmap_iframe {
    width: 600px !important;
    height: 400px !important;
  }

  .copy p{
    margin-left: 150px;
    margin-bottom: 10px;
    /* margin-right: -716px; */
    background-color: black;
    text-align: center;
  }

  


